/* factory index {{{ */
.factory-search {
  background: #f7f7f7;
  padding: 0 22px 25px;
  border-bottom: #ebebeb 1px solid;
  margin-bottom: 1px;
}
.factory-search h2 {
  font-size: 24.66px;
}
.factory-search-cont {
  width: 956px;
  height: 77px;
  background: url('../images/factory/factory-search.jpg') no-repeat;
}
.factory-search-cont li {
  padding: 0 17px 11px 0;
}
.factory-search-cont li a {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  float: left;
  line-height: 0px;
  font-size: 0px;
}
.factory-search form {
  width: 205px;
  margin: 7px 0 0 10px;
}
.factory-search-text {
  width: 180px;
  border: 0;
  height: 22px;
  line-height: 22px;
  color: #898888;
  background: none;
}
.factory-search-btn {
  width: 17px;
  height: 17px;
  border: 0;
  margin-top: 3px;
  background: url('../images/factory/factory-search-btn.jpg') no-repeat;
}
.factory-block {
  padding-bottom: 10px;
}
.factory-block h2 {
  height: 34px;
  line-height: 34px;
  padding: 0 25px;
}
.factory-block-lf {
  width: 178px;
  height: 354px;
  padding-left: 12px;
  padding-top: 4px;
}
.factory-block-lf li {
  float: left;
}
.factory-block-lf li a {
  float: left;
  width: 150px;
  padding-left: 15px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  border-bottom: #ffffff 1px solid;
  background: url('../images/base/icon.png') no-repeat -798px 10px;
}
.factory-block-rt {
  width: 810px;
  height: 358px;
}
.lh59 {
  height: 47px;
  padding: 12px 0 0 0;
}
/* }}} */
/* factory list {{{ */
.factory-list {
  padding-bottom: 30px;
}
.list-sidebar {
  width: 172px;
}
.list-sidebar h2 {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
.list-sidebar ul li {
  padding-left: 20px;
  background: url('../images/base/icon.png') no-repeat 140px -226px #000000;
  border-top: #969696 1px solid;
}
.list-sidebar ul li a {
  color: #ffffff;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  font-weight: bold;
  display: block;
}
.list-sidebar ul li.hover,
.list-sidebar ul li.current {
  background-image: none;
  background: #960000;
}
.list-cont {
  width: 815px;
}
.list-cont-top {
  background: #fec6ad;
}
.list-cont-top div.lf {
  width: 103px;
  padding-right: 5px;
  background: #836f60 url('../images/base/icon.png') no-repeat 94px -268px;
}
.list-cont-list li {
  padding-bottom: 25px;
  margin-bottom: 1px;
}
.list-cont-list li div.lf {
  width: 140px;
  margin-top: 30px;
}
.list-cont-list li dl {
  width: 675px;
}
.list-cont-list li dl dt,
.list-cont-list li dl dd {
  width: 154px;
  height: 98px;
  border: #ffffff 1px solid;
  margin-top: 25px;
}
.list-cont-list li dl dd.hover {
  border: #960000 1px solid;
  margin-top: 25px;
}
.list-cont-list li dl dd.hover a {
  color: #960000;
}
/* }}} */
/* factory post {{{ */
.factory-post-top {
  height: 33px;
  line-height: 33px;
}
.factory-post-type {
  padding: 5px 10px;
}
.factory-post-type ul li {
  margin-right: 25px;
}
.factory-post-type ul li a {
  color: #1e4696;
}
.factory-post-line {
  padding-bottom: 2px;
  background: url('../images/factory/post-type-line.png') repeat-x 0 30px;
}
.factory-post-type ul li.region-filter-link {
  right: 0;
  top: 0;
  margin-right: 0px;
}
.factory-post-type ul li.region-filter-link a {
  color: #646464;
}
.post-switch-tabs {
  border-bottom: #960000 2px solid;
}
.post-switch-tabs li {
  height: 28px;
  width: 111px;
  color: #000000;
  cursor: pointer;
  margin-right: 1px;
  text-align: center;
  line-height: 28px;
  background: url('../images/factory/post-tab.png') no-repeat;
}
.post-switch-tabs li.current {
  color: #ffffff;
  font-weight: bold;
  background: url('../images/factory/post-tab-hover.png') no-repeat;
}
.post-select-bar {
  margin-top: 0;
}
.search-bar {
  width: auto;
}
.search-bar .search-menu {
  width: 81px;
  background-color: #ffffff;
  background-position: -858px -182px;
}
.search-bar .search-menu span {
  width: 80px;
}
.location {
  left: 455px;
}
.underline {
  text-decoration: underline;
}
.post-list dd {
  padding: 20px 10px;
  border-bottom: #cccccc 1px dashed;
}
.post-list dd div.rt {
  width: 807px;
}
.post-list dd table {
  margin-top: 8px;
}
.post-list dd table td {
  line-height: 24px;
}
.post-switch-blocks li.switch-li {
  display: none;
}
.post-switch-blocks li.current {
  display: block;
}
/* }}} */
/* quick page {{{ */
.quick-page-changer {
    float: right;
    padding: 2px 5px;
}
.quick-page-changer a, .quick-page-changer span {
    display: inline;
    float: left;
    height: 18px;
    margin-left: 8px;
    padding-top: 1px;
    position: relative;
}
.quick-page-changer .previous-page, .quick-page-changer .next-page, .quick-page-changer .no-previous, .quick-page-changer .no-next {
    border: 1px solid #D4D4D4;
    text-decoration: none;
}
.quick-page-changer .next-page, .quick-page-changer .no-next {
    padding-left: 5px;
    padding-right: 5px;
}
.quick-page-changer .next-page:hover, .quick-page-changer .previous-page:hover {
    background-color: #EFEFEF;
    color: #2953A6;
}
.quick-page-changer .no-previous, .quick-page-changer .previous-page {
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    width: 20px;
}
.quick-page-changer .next-page .icon, .quick-page-changer .previous-page .icon {
    background: url("../images/base/icon.png") no-repeat scroll -947px -117px transparent;
    display: inline-block;
    height: 12px;
    width: 12px;
}
.quick-page-changer .next-page .icon {
    background: url("../images/base/icon.png") no-repeat scroll -947px -101px transparent;
    height: 11px;
}
.quick-page-changer .previous-page, .quick-page-changer .next-page, .quick-page-changer .no-previous, .quick-page-changer .no-next {
    border: 1px solid #D4D4D4;
    text-decoration: none;
}
.pages li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    height: 22px;
    line-height: 22px;
    margin-left: 5px;
    text-align: center;
    width: 22px;
}
/* }}} */
