/* information index {{{ */
#information-cycle {
  width: 292px;
  height: 325px;
}
#information-nav {
  z-index: 50;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#information-nav a {
  width: 10px;
  height: 10px;
  background: #ffffff;
  display: inline-block;
  text-indent: -3000px;
  margin-left: 4px;
  float: left;
  font-size: 0px;
}
#information-nav a.activeSlide {
  background: #700007;
}
#information-nav a:focus {
  outline: none;
}
.hot-new-block {
  background: url('../images/information/hot-new-block-bg.png') 3px 0;
}
.hot-new-block-cont {
  padding: 0 25px 0 25px;
  background: url('../images/information/hot-new-top-bg.png') no-repeat;
}
.hot-new-block-cont img {
  width: 92px;
  height: 80px;
}
.hot-new-block-top {
  padding-top: 45px;
}
.hot-new-block-list {
  margin-left: 13px;
  width: 240px;
  overflow: hidden;
}
.hot-new-block-list li {
  line-height: 21px;
  float: left;
  width: 240px;
}
.hot-new-block-bot {
  height: 25px;
  background: url('../images/information/hot-new-block-bot.png') no-repeat 3px bottom;
}
#content .information h3 {
  line-height: 22px;
}
#content .information h3 a {
  background-position: 15px -101px;
}
.infor-top-rt-01,
.infor-row-02-rt,
.infor-top-rt-02 {
  border-top: 0;
}
.infor-top-rt-01 img {
  border: #cccccc 2px solid;
  width: 77px;
  height: 77px;
}
.infor-top-rt-01 div.rt {
  width: 162px;
}
.infor-top-rt-02 {
  height: 115px;
}
#content .infor-row-02-lf {
  background: url('../images/information/infor-cen-lf-01.png') no-repeat;
}
#content .infor-row-02-lf h3 {
  background: none;
  height: 24px;
  line-height: 24px;
  padding-bottom: 24px;
}
#content .infor-row-02-lf h3 a {
  margin-right: 60px;
}
.infor-row-02-lf-cont {
  height: 233px;
  border-top: 0;
  padding-top: 0;
}
.infor-row-02-lf-cont img {
  width: 124px;
  height: 88px;
}
.infor-row-02-list label.lf {
  width: 29px;
  height: 13px;
  line-height: 13px;
  margin-top: 4px;
  margin-left: 5px;
  font-size: 10px;
  text-align: center;
  background: url('../images/base/icon.png') no-repeat -671px -7px;
}
.infor-row-02-rt {
  padding: 15px 0 14px 10px;
}
.infor-row-02-rt li {
  width: 285px;
  margin: 10px 14px 0 4px;
}
.infor-row-02-rt dt {
  width: 126px;
}
.infor-row-04-rt {
  padding: 0 0 22px 10px;
}
.infor-row-04-rt li {
  width: auto;
  margin: 30px 14px 0 8px;
}
.infor-row-05-rt {
  padding: 19px 14px 14px 10px;
}
.infor-row-05-rt img {
  width: 145px;
  height: 76px;
}
.infor-row-05-lf img {
  width: 124px;
  height: 76px;
}
.infor-row-02-rt img {
  width: 145px;
  height: 76px;
}
.infor-row-04-rt img {
  width: 275px;
  height: 88px;
}
/* }}} */
/* category {{{ */
.category-top {
  height: 46px;
  background: url('../images/information/category-top.png') no-repeat;
}
.post-search-form {
  width: 193px;
  padding: 14px 0 0 45px;
}
.post-search-text {
  width: 155px;
  height: 20px;
  border: 0;
  margin-top: 1px;
  margin-left: 5px;
  color: #898888;
  line-height: 20px;
}
.post-search-btn {
  width: 25px;
  height: 20px;
  border: 0;
  margin: 1px 0 0 2px;
  background: url('../images/base/icon.png') no-repeat -5px -120px;
}
.category-center {
  padding: 15px 0 35px 0;
  background: url('../images/information/category-center.png') repeat-y;
}
.category-sider {
  width: 241px;
}
.category-sider-block {
  padding-bottom: 5px;
}
.category-sider-block h2 {
  width: 206px;
  height: 42px;
  line-height: 35px;
  padding-left: 35px;
  background: url('../images/information/category-sider-tab.png') no-repeat;
}
.post-list-block ul { 
  padding-left: 35px;
}
.post-list-block ul li { 
  padding-left: 3px;
  border-bottom: #cccccc 1px solid;
}
.post-list-block ul li.last-li { 
  border: 0;
}
.post-sort-block ul li { 
  padding-left: 3px;
  line-height: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: #cccccc 1px solid;
}
.post-sort-block p { 
  padding-left: 15px;
  background: url('../images/base/icon.png') no-repeat -948px -83px;
}
.category-content {
  width: 631px;
  margin-left: 36px;
  padding-left: 44px;
  border-left: #cccccc 1px solid;
}
.category-content ul li {
  padding-bottom: 15px;
  margin-bottom: 38px;
  border-bottom: #cccccc 2px solid;
}
.category-content ul li img {
  width: 138px;
  height: 154px;
}
.category-content div.rt {
  width: 369px;
}
.category-content ul li .position-rt-bot {
  bottom: 15px;
}
.pages li {
  float: left;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background: #ffffff;
  text-align: center;
  margin-left: 5px;
  border: #cccccc 1px solid;
}
.pages li.current {
  border: #ffffff 1px solid;
  color: #901b1b;
}
.category-bot {
  height: 10px;
  font-size: 0px;
  background: url('../images/information/category-bot.png') no-repeat 4px bottom;
}
/* }}} */
/* post {{{ */
.category-content hr {
  border: 0;
  border-top: #cccccc 1px solid;
  height: 0px;
  margin: 10px 0;
}
.category-post-content p {
  line-height: 22px;
}
.post-links .prev {
  padding-left: 20px;
  background: url('../images/base/icon.png') no-repeat -945px -113px;
}
.post-links .next {
  padding-left: 20px;
  background: url('../images/base/icon.png') no-repeat -945px -96px;
}
.post-bottom-list p,
.post-bottom-list ol {
  width: 295px;
  padding-left: 20px;
}
.post-reply-top {
  padding-left: 50px;
  background: url('../images/base/icon.png') #ececec no-repeat -914px -130px;
}
.post-reply-form .rows span {
  line-height: 28px;
}
.post-reply-form .rows input {
  width: 320px;
  height: 26px;
  line-height: 26px;
}
.post-reply-form .rows textarea {
  width: 566px;
}
.post-reply-btn {
  width: 108px;
  height: 28px;
  border: 0;
  background: url('../images/information/post-reply-btn.png') no-repeat;
｝
/* }}} */

