#content h3 {
  padding: 5px 15px;
  background: url('../images/resources/h3-bg.png') repeat-x;
}
.system-list {
  width: 710px;
}
.system-list li {
  width: 186px;
  margin-top: 20px;
  margin-right: 50px;
}
.system-list dt a {
  color: #787878;
}
.system-list dt a:hover {
  color: #a30001;
}
.global-office {
  margin-top: 38px;
}
.storage-list li div.rt {
  width: 130px;
}
.loggoss-china-list li {
  width: 150px;
}
