#content h3 {
  padding: 5px 15px;
  background: url('../images/resources/h3-bg.png') repeat-x;
}
.system-list {
  width: 710px;
}
.system-list li {
  width: 186px;
  margin-top: 20px;
  margin-right: 50px;
}
.system-list dt a {
  color: #787878;
}
.system-list dt a:hover {
  color: #a30001;
}
.global-office {
  margin-top: 38px;
}
.storage-list li div.rt {
  width: 130px;
}
.loggoss-china-list li {
  width: 150px;
}
.global-office-flash {
  border-top: 0;
  padding: 9px 0 6px 0;
  overflow: hidden;
}
.global-office-flash iframe {
  border: 0;
}
.resources-sidebar ul {
  min-height: 400px;
}
.resources-sidebar ul,
.resources-sidebar {
  width: 170px;
}
.resources-sidebar ul {
  background: url('../images/resources/middle_bg.gif') repeat-y right 0;
}
.resources-sidebar ul li {
  border-bottom: 1px dotted #E0DDDD;
  margin-left: 15px;
  margin-top: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  width: 135px;
  text-align: center;
}
.resources-sidebar ul li a {
  display: block;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  text-align: center;
}
.resources-sidebar ul li.li-hover a,
.resources-sidebar ul li.current a {
  background: url('../images/resources/li_hover.gif') no-repeat;
}
.resources-cont {
  line-height: 22px;
  overflow: hidden;
  padding-right: 10px;
  width: 785px;
}
