/* register style {{{ */
#register-block {
  width: 926px;
  margin: 0 auto;
  height: 528px;
  background: url('../images/site/register-bg.jpg') no-repeat;
}
#register-block h2 {
  margin-left: 75px;
  padding-top: 30px;
}
.register-lf-block {
  width: 500px;
  padding-left: 85px;
  padding-top: 20px;
}
.register-lf-block form label.lf {
  width: 80px;
  text-align: right;
}
.register-lf-block div.rt {
  width: 420px;
}
.register-lf-block .rows {
  margin-top: 5px;
  line-height: 30px;
}
.register-lf-block .rows input {
  width: 210px;
  height: 28px;
  line-height: 28px;
}
.register-lf-block .rows .yzm-input input {
  width: 70px;
  height: 20px;
  line-height: 20px;
}
.register-rt-block {
  width: 200px;
} 
.tiaokuan-checkbox input.lf {
  width: auto;
  margin-top: 1px;
}
.register-lf-block .rows .register-btn input {
  width: 89px;
  height: 33px;
  border: 0;
  margin-right: 20px;
  background: url('../images/site/register-btn.jpg') no-repeat;
}
.register-rt-block {
  width: 280px;
  padding-top: 25px;
}
.register-list {
  margin-top: 20px;
}
.register-list ul {
  padding: 20px 78px;
}
.register-list li {
  width: 217px;
}
.register-list li.li-two {
  margin: 0 59px;
}
.register-list li p {
  line-height: 30px;
}
.register-list li a {
  width: 169px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  background: url('../images/site/btn-bg.jpg') no-repeat;
}
.h150 {
  height: 150px;
}
.register-list {
  height: 460px !important;
  background: url('../images/site/register-list-bg.jpg') no-repeat !important;
}
/* }}} */
/* login style {{{ */
#login-block {
  width: 926px;
  margin: 0 auto;
  height: 339px;
  background: url('../images/site/login-bg.jpg') no-repeat;
}
.login-block-lf {
  width: 370px;
  margin: 30px 0 0 30px;
}
#login-block h2 {
  margin-left: 50px;
}
.login-form div.rows {
  padding-top: 30px;
}
.login-form div.rows label {
  width: 60px;
  line-height: 30px;
  text-align: right;
}
.login-form div.rows input {
  width: 210px;
  height: 30px;
  float: left;
  line-height: 30px;
}
.login-text {
  color: #898888;
}
.login-form div.rows input.login-checkbox {
  width: auto;
  height: auto;
  margin: 9px 7px 0 10px;
}
.login-form div.rows .login-buttons input {
  width: 89px;
  height: 34px;
  border: 0;
}
.login-submit-btn {
  background: url('../images/site/login-submit-btn.jpg') no-repeat;
}
.login-reset-btn {
  margin-left: 40px;
  background: url('../images/site/login-reset-btn.jpg') no-repeat;
}
.login-register-btn {
  display: inline-block;
  width: 89px;
  height: 34px;
  background: url('../images/site/login-register-btn.jpg') no-repeat;
}
.login-block-rt {
  width: 360px;
  margin: 30px 57px 0 0;
}
.login-block-rt ul li {
  width: 170px;
  margin-top: 20px;
  margin-right: 10px;
  height: 70px;
}
.login-block-rt ul li div.rt {
  width: 97px;
}
/* }}} */
/* chain style {{{ */
.chian-page {
  background: #ebebeb;
  padding: 25px 100px 150px;
  width: 800px;
}
/* }}} */
/* help {{{ */
.help-block-lf {
  width: 196px;
}
.help-block-lf dl {
  background: url('../images/site/help-middle.gif') repeat-y 2px 0;
}
.help-block-lf dl dd {
  padding: 10px 0;
}
.help-block-lf dl dt {
  line-height: 24px;
  padding-left: 35px;
  background: url('../images/base/icon.png') no-repeat -925px 3px;
}
.help-block-rt {
  width: 758px;
  overflow: hidden;
}
.help-block-rt h2 {
  height: 32px;
  padding-left: 15px;
  line-height: 30px;
  background: url('../images/site/box-title-bg.jpg') no-repeat;
}
.breadcrumbs {
    background: url("../images/base/icon.png") no-repeat -945px -218px;
    margin: 0 0 10px;
    padding-left: 20px;
}
/* }}} */
