/* css reset {{{ */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,hr,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
input[type="text"], input[type="password"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
textarea {
    resize: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
img, li {
	vertical-align: top;
}
input:focus, a {
	outline: none;
}
input, button, textarea, select, optgroup, option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
textarea {
	overflow: auto;
}
/* }}} */
/* base style {{{ */
body {
  background: url("../images/base/bg.png") repeat-x;
  color: #666666;
  font: 12px/1.35 "宋体",Arial,Helvetica,sans-serif;
}
input[type=submit] {
	cursor: pointer;
}
a {
  color: #666666;
  text-decoration: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
#header,
#footer-cont,
.footer-links,
.new-links {
  width: 1000px;
  margin: 0 auto;
}
#top-menu {
  height: 25px;
  line-height: 25px;
}
#top-menu ul.lf li {
  padding-right: 10px;
  margin-right: 8px;
  background: url('../images/base/top-menu-line.png') no-repeat center right;
}
#top-menu form {
  width: 170px;
  margin-top: 2px;
}
.top-menu-text {
  width: 150px;
  padding: 0 5px;
  border: 0;
  color: #898888;
  height: 20px;
  line-height: 20px;
}
.top-menu-btn {
  width: 15px;
  height: 15px;
  border: 0;
  margin: 3px 5px 0 0;
  background: url('../images/base/top-menu-btn.png') no-repeat;
}
#top-menu ul.rt li {
  padding: 0 10px;
  background: url('../images/base/top-menu-line.png') no-repeat center left;
}
.top-menu-weibo a {
  padding-left: 20px;
  display: inline-block;
  background: url('../images/base/icon.png') no-repeat -10px -79px;
}
.top-menu-icon a {
  width: 24px;
  height: 16px;
  margin-left: 5px;
  margin-top: 5px;
  background-image: url('../images/base/icon.png');
  background-repeat: no-repeat;
  background-position: -8px -6px;
}
.top-menu-icon a.top-menu-icon-02 {
  background-position: -8px -33px;
}
.top-menu-icon a.top-menu-icon-03 {
  background-position: -8px -56px;
}
#logo {
  display: inline-block;
  padding-top: 2px;
}
#header-search {
  width: 248px;
  height: 53px;
  background: url('../images/base/header-search-0.png') no-repeat;
}
.header-search-tabs li {
  width: 70px;
  text-align: center;
  cursor: pointer;
  color: #333333;
}
.header-search-tabs li.current {
  font-weight: bold;
}
.header-search-blocks li {
  display: none;
}
.header-search-blocks li.current {
  display: block;
}
#header-search {
  margin-top: 28px;
}
.header-search-text {
  width: 175px;
  height: 20px;
  border: 0;
  color: #898888;
  line-height: 20px;
  margin: 4px 0 0 8px;
}
.header-search-btn {
  width: 51px;
  height: 23px;
  border: 0;
  margin: 3px 4px 0 0;
  background: url('../images/base/header-search-btn.png') no-repeat;
}
#menu {
  height: 32px;
  background: url('../images/base/menu.png') no-repeat;
}
#menu a {
  float: left;
  line-height: 32px;
  text-align: center;
  margin-right: 9px;
  text-indent: -4000px;
}
.menu-two-word a {
  width: 58px;
}
.menu-four-word a {
  width: 88px;
}
.menu-max-word a {
  width: 110px;
}
#content {
  width: 1000px;
  margin: 25px auto;
}
/* news links style {{{ */
.new-links {
  border: #c8c8c8 1px solid;
  border-top: none;
}
.new-links-tabs {
  height: 38px;
  background: url('../images/base/links-tab-bg.png') repeat-x;
}
.new-links-tabs li {
  height: 38px;
  line-height: 38px;
  padding-left: 20px;
  font-size: 14px;
  cursor: pointer;
}
.new-links-tabs li.current {
  color: #730301;
  font-weight: bold;
}
.new-links-tabs li span {
  padding-left: 20px;
  color: #2f2f2f;
  font-weight: normal;
}
.new-links-blocks {
  height: 282px;
  background: url('../images/base/links-block-bg.png');
}
.new-links-blocks dl {
  *margin-top: -20px;
}
.new-links-blocks dl dd {
  height: 131px;
  padding: 10px 23px 0 23px;
}
.new-links-blocks dd a {
  color: #6f6f6f;
}
.new-links-blocks dd p {
  line-height: 20px;
  padding-top: 5px;
}
.new-links-blocks li.new-links-two {
  padding-bottom: 30px;
}
.new-links-blocks li.new-links-two dd {
  height: 64px;
  padding: 10px 35px 0 35px;
}
.new-links-blocks li.new-links-three dd {
  padding: 10px 34px 0 34px;
}
.new-links-blocks li.new-links-five dd {
    height: 131px;
}
/* }}} */
/* footer links style {{{ */
.footer-links-form {
  padding: 0 15px;
}
.footer-links-form select {
  width: 90px;
}
.footer-links-form input {
  width: 190px;
}
.footer-links-form select,
.footer-links-form label,
.footer-links-form input {
  height: 20px;
  line-height: 18px;
  margin-right: 10px;
}
.footer-links-form select,
.footer-links-form input {
  color: #898888;
}
.footer-links-form label {
  color: #000000;
}
.footer-links-form div.lf {
  width: 455px;
}
.footer-links-form div.rt {
  width: 327px;
}
input.footer-search-btn {
  width: 45px;
  border: 0;
  color: #000000;
  line-height: 18px;
  background: url('../images/base/footer-search-bg.png') no-repeat;
}
input.footer-email-btn {
  width: 69px;
  border: 0;
  color: #000000;
  line-height: 18px;
  margin-right: 0;
  background: url('../images/base/footer-email-bg.png') no-repeat;
}
.footer-links-cont {
  height: 123px;
  padding-top: 65px;
  background: url('../images/base/footer-links-bg.png') no-repeat;
}
.footer-links-list {
  padding-left: 30px;
  width: 150px;
}
.footer-links-list li {
  padding-left: 10px;
  background: url('../images/base/icon.png') no-repeat -950px 3px;
}
.footer-links-list-01 {
  padding-left: 40px;
}
.footer-links-list li a {
  color: #000000;
}
.footer-links-list-02 li,
.footer-links-list-03 li {
  padding-right: 10px;
}
.footer-links-list-03 {
  padding-left: 220px;
  width: 202px;
}
.footer-links-list-04 {
  padding-left: 40px;
  width: 165px;
}
.footer-links-list-04 li {
  padding-right: 20px;
}
/* }}} */
#footer {
  background: url('../images/base/footer-bg.png') repeat-x 0 704px;
}
#footer-cont {
  margin-top: 30px;
}
#footer-site {
  height: 35px;
  line-height: 35px;
}
#footer-site ul li {
  margin: 0 5px;
}
#footer-language {
  width: 600px;
  padding-left: 10px;
  margin: 10px auto;
  background: url('../images/base/icon.png') no-repeat -47px -8px;
}
#footer-language a {
  width: 37px;
  height: 44px;
  margin-right: 3px;
  display: inline-block;
}
/* close commented backslash hack */
/* }}} */
/* css class {{{ */
.clear { clear: both; height: 0px; font-size:0px; overflow: hidden; }
/* position */
.pl {
  position: relative;
}
.pa {
  position: absolute;
}
/* float */
.lf {
	float: left;
	display: inline;
}
.rt {
	float: right;
	display: inline;
}
/* text algin */
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
/* padding */
.pad1 {
  padding: 1px;
}
.pad5 {
	padding: 5px;
}
.pt5 {
	padding-top: 5px;
}
.pb5 {
	padding-bottom: 5px;
}
.pad9 {
	padding: 9px;
}
.pad10 {
	padding: 10px;
}
.pad14 {
	padding: 14px;
}
.pad15 {
	padding: 15px;
}
.pad20 {
	padding: 20px;
}
.pad25 {
	padding: 25px;
}
.pl10 {
	padding-left: 10px;
}
.pr10 {
	padding-right: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
	padding-top: 30px;
}
.pb15 {
	padding-bottom: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pl50 {
	padding-left: 50px;
}
/* margin */
.mt5 {
	margin-top: 5px;
}
.mr5 {
	margin-right: 5px;
}
.ml10 {
	margin-left: 10px;
}
.mr10 {
	margin-right: 10px;
}
.ml58 {
  margin-left: 58px;
}
.mt10 {
	margin-top: 10px;
}
.mt13 {
	margin-top: 13px;
}
.mt15 {
	margin-top: 15px;
}
.ml15 {
	margin-left: 15px;
}
.ml19 {
	margin-left: 19px;
}
.mt25 {
  margin-top: 25px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.mb5 {
	margin-bottom: 5px;
}
.ml20 {
	margin-left: 20px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mt40 {
  margin-top: 40px;
}
/* font */
.fs10 {
	font-size: 10px;
}
.fs14 {
	font-size: 14px;
}
.fs16 {
	font-size: 16px;
}
.fs18 {
	font-size: 18px;
}
.fs20 {
	font-size: 20px;
}
.fs24 {
	font-size: 24px;
}
.fs30 {
	font-size: 30px;
}
.fwb {
	font-weight: bold;
}
/* color */
.color-b40014 {
	color: #b40014;
}
.color-292929 {
	color: #292929;
}
.color-787878 {
	color: #787878;
}
.color-646464 {
	color: #646464;
}
.color-ffffff {
	color: #ffffff;
}
.color-880b0b {
	color: #880b0b;
}
.color-8a0e0e {
	color: #8a0e0e;
}
.color-000000 {
  color: #000000;
}
.color-644f41 {
	color: #644f41;
}
.color-ffc800 {
	color: #ffc800;
}
.color-3264c8 {
	color: #3264c8;
}
/* background color */
.bkff {
	background: #ffffff;
}
.bkdc0000 {
	background: #dc0000;
}
.bk880c0c {
	background: #880c0c;
}
.bke5e5e5 {
	background: #e5e5e5;
}
.bkececec {
	background: #ececec;
}
.bkd8abab {
	background: #d8abab;
}
.bke8cece {
	background: #e8cece;
}
.bk9cb994 {
	background: #9cb994;
}
.bkbfd2ba {
	background: #bfd2ba;
}
.bkfca47c {
	background: #fca47c;
}
.bkfdc6ad {
	background: #fdc6ad;
}
.bk9a7756 {
	background: #9a7756;
}
.bkc8b4a3 {
	background: #c8b4a3;
}
.bkabab73 {
	background: #abab73;
}
.bkcdcdae {
	background: #cdcdae;
}
.bka08360 {
	background: #a08360;
}
.bkebebeb {
	background: #ebebeb;
}
.bkcdb9a2 {
	background: #cdb9a2;
}
.bkd1b1ba {
	background: #d1b1ba;
}
.bke6d5da {
	background: #e6d5da;
}
.bkd5b4af {
	background: #d5b4af;
}
.bke8d6d4 {
	background: #e8d6d3;
}
.bkaca9b9 {
	background: #aca9b9;
}
.bkd4d3db {
	background: #d4d3db;
}
/* line height */
.lh18 {
	line-height: 18px;
}
.lh20 {
	line-height: 20px;
}
.lh22 {
	line-height: 22px;
}
.lh24 {
	line-height: 24px;
}
.lh30 {
	line-height: 30px;
}
.lh35 {
	line-height: 35px;
}
/* height */
.h30 {
	height: 30px;
}
/* border style */
.bd1scccccc {
  border: #cccccc 1px solid;
}
.bd1sc8c8c8 {
  border: #c8c8c8 1px solid;
}
.bd1s969696 {
  border: #969696 1px solid;
}
.bd1se5e5e5 {
  border: #e5e5e5 1px solid;
}
/* tab 切换 样式 */
.switch-blocks li {
  display: none;
}
.switch-blocks li.current {
  display: block;
}
/* overflow hidden */
.overfh {
  overflow: hidden;
}
/* width */
.w115 {
  width: 115px;
}
.w195 {
  width: 195px;
}
.w288 {
  width: 288px;
}
.w299 {
  width: 299px;
}
.w295 {
  width: 295px;
}
.w310 {
  width: 310px;
}
.w363 {
  width: 363px;
}
.w400 {
  width: 400px;
}
.w405 {
  width: 405px;
}
.w480 {
  width: 480px;
}
.w618 {
  width: 618px;
}
.w660 {
  width: 660px;
  overflow: hidden;
}
/* height */
/* position right bottom */
.position-rt-bot {
  right: 0;
  bottom: 0;
}
/* content h3 style */
#content h3 {
  padding: 5px 10px;
  line-height: 17px;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: bold;
  background: #f3f3f3;
}
#content h3 span {
  color: #c0c0c0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-left: 5px;
  padding-left: 5px;
  border-left: #c0c0c0 1px solid;
}
#content h3 a {
  color: #0f0f0f;
  float: right;
  font-size: 12px;
  font-weight: normal;
  padding-right: 12px;
  background: url('../images/base/icon.png') no-repeat 15px -104px;
}
/* }}} */
